/* CSS files add styling rules to your content */
.header {
  background-color: #66CCAA;
}

.header h1 {
  text-decoration: underline;
}

.header li {

}


.header li:hover {
 
}


.content {

}

.content h1 {

}

.content img {

}



.content img:hover {
  
} 


.content p {
  
}

.footer {
  background-color: grey;
}


.footer p {

}

h1:hover {

}

#navbar {
  background-color:#808080;
  overflow: hidden;
}

#navbar a {
  color: #f2f2f2;
  text-align:center;
  padding: 14px 16px;
  float: left;
  text-decoration:none;
  font-size:17px;
}

.sticky {
  position:fixed;
  top:0;
  width:100%;
}

.sticky + .content {
  padding-top:60px;
}

#navbar a:hover {
  background-color:#ddd;
  color:black;
}